<!DOCTYPE html>
<html>
  <head>
    <style>
    .col-md-12{
      height: 0px;
    }
    .col-md-2{
      border: 2px solid black;
    }
    </style>

  </head>

  <body>
      <div class="row">
        <div class="col-md-2 bg-dark text-light p-3">
          <h5 class="text-uppercase mb-4"> Hi <%= current_user.user_detail.userName %> </h5>
        
        <h4 class="mt-2 mb-2"> Users </h4>
        <div class="mb-2">
          <%= turbo_stream_from "users" %>
          <div id="users">
            <%= render @users %>
          </div>
        </div>

        <h4 class="mb-3"> Rooms </h4>
        <%= render partial: "layouts/new_room_form" %>
        <div class="mb-4">
          <%= turbo_stream_from "rooms" %>
          <div id="rooms">
            <%= render @rooms %>
          </div>
        </div>

        <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
      </div>

      <div class="col-md-10 bg-dark text-light">

        <% if @single_room %>
          <h4 class="text-center"> <%=  @single_room.name %> </h4>
          <%= turbo_stream_from @single_room %>
          <div id="messages">
            <%= render @messages %>
          </div>
          <%= render partial: 'layouts/new_message_form' %>
        <% end %>
      </div>
      <div class="col-md-12 bg-dark">
        
      </div>
      
    </div>
  </body>
</html>


